//= require font_awesome
//= require_self
//= require_tree .


@import './mixins'

*, *:before, *:after {
  box-sizing: border-box
}

body, html {
  margin: 0
  padding: 0
}

body {
  -webkit-font-smoothing: antialiased
  font-smoothing: antialiased
  background: #FFF

  color: #444
  font: 19px/1.5em "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
}

a {
  text-decoration: underline
  color: #4b525b
}

h2, h3, h4 {
  color: #333
}

// Site specific

.wrap {
  margin: 0 auto
}

header.header {
  font-size: 18px
  font-weight: 600
  user-select: none
  background: #1b8ad4
  height: 80px

  a {
    text-decoration: none
    color: #fff
    font-weight: normal
    font-size: 0.9rem

    &:hover {
      margin-top: -4px
      border-bottom: 1px solid #eee
    }

    &.link {
      display: none;
    }
  }

  nav {
    height: 80px
    margin: auto
    padding: 0 15px
    text-align: center
    position: relative

    h1.logo {
      margin: 0
      position: relative
      top: 22px
      img {
        height: 89px
      }
    }
  }
}

article.main {
  padding: 15px
  margin-top: 60px

  h3 {
    font-family: 'Roboto Slab'
    font-weight: 400
  }

  section {
    position: relative
    padding: 0 0 80px 0
    margin: 0 0 80px 0

    header {
      margin-bottom: 25px
      border-bottom: 1px solid #eee

      h2 {
        font-size: 30px
        margin:  6px 0
        line-height: 35px
        font-family: 'Roboto Slab'
        font-weight: 900

        a {
          text-decoration: none
        }
      }

      h3.draft {
        font-weight: normal
        font-style: italic
        font-size: 23px
        color: #777
      }

      h3.author {
        margin: 0
        color: #414141
        font-weight: normal
        font-style: italic
        font-size: 15px
        display: inline

        a {
          color: #414141
          text-decoration: none
        }
      }

      time {
        display: inline
        color: #6A6A6A
        font-weight: normal
        font-style: italic
        font-size: 15px
        color: #6A6A6A

        a {
          color: #6A6A6A
          text-decoration: none
        }
      }
    }

    .body {
      hr {
        border: 0
        height: 2px
        background: #F6F6F6
        max-width: 350px
        margin: 30px auto
        border-radius: 5px
      }

      h3 {
        font-size: 22px
        font-weight: 600
      }

      h4 {
        font-size: 19px
        margin: 0 0 -0.5em 0
      }

      a {
        text-decoration: none
        font-weight: 600
        color: #6da9d4
        border-bottom: 2px solid #F4F4F4
      }

      a:hover {
        text-decoration: none
        border-bottom: 2px solid #d4d4d4
        color: #1b8ad4
      }

      b, strong {
        font-weight: 600
        color: #333
      }

      p {
        margin: 1em 0

        &:last-child {
          margin-bottom: 0
        }
      }

      ul {
        padding: 0 20px
      }

      ul li, ol li {
        margin: 0 0 10.5px 0
      }

      blockquote {
        border-left: 5px solid #F6F6F6
        margin: 2em 20px
        padding: 0 15px
      }

      table {
        border-left: 5px solid #F6F6F6;
        margin: 2em 20px;
        padding: 0 15px;

        td {
          vertical-align: top;
        }

        &.key-value {
          td:first-child {
            font-weight: bold
            width: 150px
          }
        }
      }

      code {
        background: #F8F8F8
        border-radius: 5px;
        border: 1px solid #DDDDDD
        display: inline;
        padding: 2px 7px
        font-size: 13px

        font-weight: normal
        font-family: Monaco, "HelveticaNeue", Helvetica, Arial, sans-serif

        line-height: normal
        color: #1E1E1E
      }

      pre {
        background: #F8F8F8
        margin: 30px -30px
        padding: 20px 30px
        -webkit-font-smoothing: subpixel-antialiased

        code {
          background: none
          padding: 0
          display: block
          overflow: auto
          width: 100%

          border: none
          border-radius: 0
        }
      }

      .clip {
        border: 3px solid #F6F6F6
        max-width: 640px
        max-height: 310px
        margin: auto
        overflow: hidden
        margin: 20px 0

        img {
          margin: 0
          display: block
          border: none
        }
      }
    }

    &:after {
      content: ''
      display: block
      position: absolute
      bottom: 0
      left: -75px
      right: -75px
      height: 5px
      background: #F6F6F6
      border-radius: 5px
    }

    &:last-child {
      padding-bottom: 0
      margin-bottom: 0
    }

    &:last-child:after {
      display: none
    }
  }
}

.screencast {
  position: relative;

  img {
    width: 100%    !important;
    height: auto   !important;
    cursor: pointer;
  }

  video {
    width: 100%    !important;
    height: auto   !important;

    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    user-select: none;
    pointer-events: none;
    display: none;

    &.playing {
      display: block;
    }
  }
}


#disqus_thread {
  margin-top: 20px
  border-top: 2px solid #eee
  padding-top: 20px
}

footer.footer {
  margin-top: 40px
  text-align: center

  border-bottom: 20px solid #1b8ad4

  section {
    border-top: 1px solid #F2F2F2

    .wrap {
      padding: 50px 25px
    }
  }

  h3 {
    font-size: 22px
    font-weight: 600
    margin: 0
  }

  .pagination {
    text-align: right
    border: none

    .wrap {
      padding: 20px 40px 25px 30px
    }
  }

   .button {
      border: 2px solid #ccc
      font-weight: 600
      color: #777
      padding: 0 15px
      border-radius: 20px
      display: inline-block
      height: 35px
      line-height: 33px
      text-transform: uppercase
      font-size: 15px
      text-decoration: none
      margin-left: 15px

      .fa {
        margin-left: 2px
      }

      &:hover {
        color: #fff
        border: 2px solid #fff
        background: #1b8ad4
      }
    }
}

@media only all and (min-width: 650px) {

  header.header {

    a {
      &.link {
        display: block
        position: absolute
        bottom: 12px
        right: 20px
      }
    }

    nav {
      text-align: left

      h1.logo {
      }
    }
  }

  article.main {
    padding: 30px
  }


  .wrap {
    width: 700px
  }
}
